


/*Regra dos planos*/
.planos-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 960px;
    margin: 0 auto;
    
    .plano-recomendado-write {
        background-color: #037c7c;
        border-radius: 15px;
    }
    .plano {
        border-radius: 15px;
        background-color: #ffffff;
        width: 100%;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
        margin-right: 22px;
        height: 350px;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        h4 {
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            color: #037c7c;
            margin: 0px;
            text-transform: uppercase;
        }
        .valor 
        {
            height: 108px;
            overflow: hidden;
            position: relative;
            span {
                display: inline-block;
                font-weight: bold;
                color: #037c7c;
                &:first-child {
                    font-size: 20px;
                    position: absolute;
                    top:20px;
                }
                &:last-child {
                    margin-left:25px;
                    font-size: 90px;
                }
            }
        }
        .tipo-plano {
            font-size: 30px;
            font-weight: 300;
            color: #4a4a4a;
            margin: 0;
            line-height: 0px;
            margin-left:30px;
        }

        &.plano-recomendado {
            background-color: #ff840c;
            border-radius: 15px;
            height: 400px;
            h4 {
                color: #FFF;
            }
        }
        
    }
};