@mixin lato(){
	font-family: lato;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}

header{
		width:100%;
	nav{
		padding-left:42px;
		padding-right:42px;
		width:100%;	
		z-index: 1000;
	    height: 65px;
	    background-color: #ffffff;
	    position: fixed;
	    top: 0;
	    display:flex;
	    justify-content:space-between;
		ul{
		    padding: 0px;
    		margin: 0px 65px 0 0;
    		list-style: none;
    		display: inline-block;
			li{
			    text-align: center;
				display:inline-block;
				a{
					padding-top: 17px;
		    		padding-left: 20px;
    			    padding-right: 20px;
    			    display: inline-block;
    			    height: 32px;
					@include lato();
					text-decoration:none;
					color:#4a4a4a;
					text-align:left;
				}
				&:hover{
				border-radius: 71px;
  				background-color: #ff840c;
	  				a{
	  				color:#FFF;
	  				}	
				}
				&:last-child{
					background:none	;
				}
			}
		}
	}
}



.nav-logo{
		margin-top:20px;
}
.nav-face{
		
    padding-top: 17px;
		img{
			margin-bottom: -10px;
		}
}