@mixin lato(){
	font-family: lato;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}

header{
		width:100%;
		position: fixed;
		top: 0;
		z-index: 500;
	nav{
		padding-left:42px;
		padding-right:42px;
	    height: 65px;
	    background-color: #ffffff;
	    display:flex;
	    justify-content:space-between;
		ul{
		    padding: 0px;
    		margin: 0px 0px 0 0;
    		list-style: none;
			display: flex;
			align-items: center;
			li{
			    text-align: center;
				display:flex;
				align-items: center;
				a{
					margin-top: 17px;
		    		padding-left: 20px;
    			    padding-right: 20px;
    			    display: flex;
    			     height: 32px;
					@include lato();
					text-decoration:none;
					color:#4a4a4a;
					text-align:left;
				}
				&:hover{
				border-radius: 71px;
  				background-color: #ff840c;
	  				a{
	  				color:#FFF;
	  				}	
				}
				&:last-child{
					margin-top:0px;
					background:none	;
				}
			}
		}
	}
}



.nav-logo{
		margin-top:20px;
		margin-right: 1px;
}
.nav-face{
	margin-top:0px !important;
    padding-top: 0px;
}
.menu-retratil{
	display:none;
	padding: 0px;
	background:none;
	border:0;
	img{
		display: flex;
		width: 30px;
		 display:block!important;

	}
}
.fechar-menu{
	background: #037c7c;
	border: none;
	display: flex;
	padding: 0px;
	height: 35px;
	width: 35px;
	margin-top: 15px;
	margin-left: 15px;
	img{
		display: flex;
		height: 25px;
		width: 25px;
	}
}
.subir{
	display:block;
	margin-top:20px;
	margin-right:50px;
	height:30px;
	width:50px;
	background:none;
	border:0;
	img{
		display: flex;
	    width: 100%;
	    height: 100%;
	 	display:block!important;

	}
}
.menu-escondido {
	width: 100%;
	height: 100%;
    position: fixed;
    display: none;
    background-color: #037c7c;
    top: 0;
    left: 0;
    opacity: 0.97;
}
.menu-central{
	padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
	list-style: none;
    li{
        padding: 30px;
        a{
            text-shadow: #b5a9a9 1px 1px;
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-weight:Bold;
        }
        img{
            width:50px;
            height:50px;
        }
    }
}
@keyframes descer {
    0%{
        transform: translate3d(0px, -900px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}
.expandir{
    display:block;
	z-index:10000;
	animation: descer .5s ease-in-out;
}