@mixin lato(){
	font-family: lato;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}

header{
	padding-top:65px;
	nav{	
		z-index: 1000;
	    height: 65px;
	    background-color: #ffffff;
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
		ul{
		    padding: 0px;
    		margin: 7px 0 0 0;
    		list-style: none;
    		float: right;
    		display: inline-block;
			li{
				padding-top: 17px;
			    padding-left: 20px;
			    padding-right: 20px;
			    display: inline-block;
			    height: 32px;
			    text-align: center;
				display:inline-block;
				a{
					@include lato();
					text-decoration:none;
					color:#4a4a4a;
					text-align:left;
				}
				&:hover{
				border-radius: 71px;
  				background-color: #ff840c;
	  				a{
	  				color:#FFF;
	  				}	
				}
			}
		}
	}
}



.nav-logo{
		margin-left:42px;
		margin-top:20px;
}
.nav-face{
		padding-top: 0px;
		margin-left:41.3px;
		margin-right:42px;
		img{
			margin-bottom: -10px;
		}
}