@mixin lato(){
	font-family: lato;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}

header{
		width:100%;
	nav{
		padding-left:42px;
		padding-right:42px;
		width:100%;	
		z-index: 500;
	    height: 65px;
	    background-color: #ffffff;
	    position: fixed;
	    top: 0;
	    display:flex;
	    justify-content:space-between;
		ul{
		    padding: 0px;
    		margin: 0px 65px 0 0;
    		list-style: none;
    		display: inline-block;
			li{
			    text-align: center;
				display:inline-block;
				a{
					padding-top: 17px;
		    		padding-left: 20px;
    			    padding-right: 20px;
    			    display: inline-block;
    			    height: 32px;
					@include lato();
					text-decoration:none;
					color:#4a4a4a;
					text-align:left;
				}
				&:hover{
				border-radius: 71px;
  				background-color: #ff840c;
	  				a{
	  				color:#FFF;
	  				}	
				}
				&:last-child{
					background:none	;
				}
			}
		}
	}
}



.nav-logo{
		margin-top:20px;
}
.nav-face{
		
    padding-top: 17px;
		img{
			margin-bottom: -10px;
		}
}
.menu-retratil{
	display:none;
}
.fechar-menu{
	opacity: 1;
	background: #037c7c;
	border:none;
	display: flex;
	float: right;
	margin-right: 20px;
	height: 50px;
	width: 50px;
	img{
		height: 50px;
		width: 50px;
	}
}
.subir{
	display:block;
	margin-top:20px;
	margin-right:50px;
	height:30px;
	width:50px;
	background:none;
	border:0;
	img{
		display: flex;
	    width: 100%;
	    height: 100%;
	 	display:block!important;

	}
}
.desaparecer{
	animation:desaparecer .9s ease-in-out;
}
@keyframes desaparecer{
	0%{
		transform: translate3d(0px 0px 0px) ;
	}
	100%{
		transform:translate3d(110px 0px 0px) ;
		display:none !important;
	}
}
.menu-escondido {
    position: fixed;
    display: none;
    background-color: #037c7c;
    top: 0;
    left: 0;
    opacity: 0.97;
}
.menu-central{
	padding: 0px;
	padding-left: 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    li{
        padding: 30px;
        a{
            text-shadow: #b5a9a9 1px 1px;
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-weight:Bold;
        }
        img{
            width:50px;
            height:50px;
        }
    }
}
@keyframes descer {
    0%{
        transform: translate3d(0px, -890px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}
.expandir{
    display:block;
    z-index:10000;
    width:100% ;
    height:100% ;
	animation: descer .8s ease-in-out;
}