@mixin lato(){
	font-family: lato;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}
@keyframes animar {
    
}

.menu-escondido{
    position: fixed;
    display: none;
    background-color: #037c7c;
}
.menu-central{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    li{
        padding: 30px;
        a{
            text-shadow: #b5a9a9 1px 1px;
            color: white;
            text-decoration: none;
            font-size: 30px;
            font-weight:Bold;
        }
        img{
            width:50px;
            height:50px;
        }
    }
}
@keyframes descer {
    0%{
        transform: translate3d(0px, -890px, 0px);
    }
    100%{
        transform: translate3d(0px, 0px, 0px);
    }
}
.expandir{
    display:block;
    z-index:10000;
    width:100% ;
    height:100% ;
    animation: descer .8s ease-in-out;
}

.animar{
    animation: body-animar .8s ease-in-out;
}

@keyframes anime-left{
  0%{
        transform: translate3d( -290px, 0px , 0px );
  }
   100%{
        opacity:1;
        transform: translate3d(0px, 0px , 0px);
  }
}
@keyframes anime-right{
    0%{
         transform: translate3d( 290px, 0px, 0px );
    }
    100%{
        opacity:1;
        transform: translate3d(0px, 0px , 0px);
    }
}
@mixin animar-left($delay){
    opacity:0;
    animation: anime-left 2s ;
    animation-fill-mode:forwards;
    animation-delay: $delay;
}
.plano1{
    @include animar-left(4s);
}
.plano2{
    @include animar-left(2s);
}
@mixin animar-right($delay){
    opacity:0;
    animation: anime-right 2s ease-in-out;
    animation-delay: $delay;
    animation-fill-mode:forwards;   
}
.plano3{
    @include animar-right(3s);
}
.plano4{
    @include animar-right(5s);
}

.banner {
    margin-top:65px;
	width:100%;
    height: 500px;
    background: url("../image/bitmap.png") left bottom #037c7c repeat-x;
    article{
	    padding-top: 100px;
	    .banner-titulo{
    	    font-size: 40px;
    	    margin:0% 25% 30px 25%;
		    font-weight: 300;
		    text-align: center;
		    color: #ffffff;
		    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
	    }
	    .banner-subtitulo{
	    	display:flex;
    	    flex-direction: column;
   			align-items: center;
	    	color: #ffffff;
	    	font-size: 39px;
  			font-weight: bold;
	    }
	    .banner-link{
			margin-top: 15px;
		    text-decoration: none;
		    display: flex;
	        align-items: center;
		    justify-content: center;
		    width: 276px;
		    height: 92px; 
		    border-radius: 100px;
		    color: #ffffff;
		    background-color: #ff840c;
		    font-weight: 300;
		    p{
		    	font-size:50px;
		    	font-weight: 300;
		    }
     		.centavos{
	    	    font-size:25px;
			    margin-bottom: 25px;
		    	font-size:20px;
	    		font-weight: 300;
		    }
    		.diario{
		    	font-size:20px;
	    		font-weight: 300;
    		    margin-left: -30px;
				margin-top: 10px;
    		} 
	    }
    }
}

#planos-titulo{
	font-size: 40px;
  	font-weight: 300;
	color: #ff840c;
	text-align:center;
	margin:0px;
	padding-top:57px;
	padding-bottom:43px;

}
.planos{
	padding-bottom: 53px;
	background-color: #e9e7e5;
}
.planos-box { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 960px;   
    margin: 0 auto;
    
    .plano-recomendado-write {
        background-color: #037c7c;
        border-radius: 15px;
    }
    .plano {
        border-radius: 15px;
        background-color: #ffffff;
        width: 100%;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
        margin-right: 22px;
        height: 392px;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        h4 {
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            color: #037c7c;
            margin: 0px;
            padding-top:28px;
            text-transform: uppercase;
        }
        .valor {
            height: 108px;
            overflow: hidden;
            position: relative;
            span {
                display: inline-block;
                font-weight: bold;
                color: #037c7c;
                &:first-child {
                    font-size: 20px;
                    position: absolute;
                    top:20px;
                }
                &:last-child {
                    margin-left:25px;
                    font-size: 90px;
                }
            }
        }
        .tipo-plano {
            font-size: 30px;
            font-weight: 300;
            color: #4a4a4a;
            margin: 0;
            line-height: 0px;
            margin-left:30px;
        }
        .velocidade-texto{
        	padding-top:15px;

        }
        .velocidade{
        	font-size: 50px;
  			font-weight: bold;
  			color: #037c7c;
  			margin:-20px 0px 0px 0px;
  			padding:0px 0px 3px 0px;
        }
        .plano-detalhe{
        	margin:-3px 0px 0px 0px;
        	padding:0px 0px 57px 0px;
        	list-style:none;
        	li{
        		font-size: 16px;
  				font-weight: 300;
  				 color: #4a4a4a;
        	}
        }
        &.plano-recomendado {
            background-color: #ff840c;
            border-radius: 15px;
            height: 440px;
            color:  #ffffff;
            h4 {
                color: #FFF;
            }
            span {
            	color:  #ffffff;
                display: inline-block;
                font-weight: bold;
                
                &:first-child {
                    font-size: 20px;
                    position: absolute;
                    top:20px;
                }
                &:last-child {
                    margin-left:25px;
                    font-size: 90px;
                }
       		}
       		.tipo-plano {
   				color:#FFF;
        	}
        	.velocidade{
        		color:#fff;
        	}
        	.plano-detalhe{
        		list-style:none;
        		li{
	        		font-size: 16px;
	  				font-weight: 300;
	  				 color: #FFF;
        		}
        	}
       	}
        
    }
}
