@media screen and (max-width:360px){
	header{
		nav{
			padding-left:0px !important;
		}
	}

	.menu-retratil{
		margin-right:0px !important;

	}
	.cabecalho{
		nav{
		    justify-content: space-around;
			picture{
				img{
					margin-left:0;
					margin-right:50px;
				}
				
			}
			ul{
				display:none;
			}
		}
	}
	.nav-face{
		margin-bottom:-10px;
		padding-top:0px;
		float:none;
		margin-right: 0;
		display:inline-block;
	}
	.banner{

		height:auto;
	    margin-bottom: -39px;
	}
	.banner-titulo{
		margin:0px !important;
		font-size:35px !important;
	}
	.planos-box{
		width:100%;
		flex-direction: column;

	}
	.plano{
		 margin-bottom: 20px;
		 margin-right:0px !important;
	}

	.localidades{
		padding:0px;
		li{
			padding-bottom:5px !important;
			border-right:0 !important;
			flex-direction:column !important;
			display:block  !important;
			&:last-child{
				padding-bottom:0px !important;
			}
		}
	}
	.ma1{
		article{
			height:auto;
		}
	}
	.s2{
		form{
			width:100%;
			flex-direction:column;
			.area{
			    padding-left: 25px;
			}
			.input{
				display:block;
			}
		}
		.botao{
	    	margin-top: 130px;
		}
	}
	footer{
		width:100%;
		flex-direction:column;
		article{
			width:100%;	
			display:block;
			margin-left:0px;
			h4{
				width:100%;
			}
		}
		aside{
			width:100%;
			float:none;
			display:block;
		}
	}
}
@media screen and (max-width:660px){
	.menu-navegacao{
		display:none;	
	}
	.menu-retratil{
		display:block;
		margin-right:50px;
		background:none;
		border:0;
		img{
			display: flex;
		    width: 30px;
		 	display:block!important;

		}
	}
	.s2{
		form{
			width:100%;
			flex-direction:column;
			align-items: center;
			.area{
			    padding-left: 0px;
			}
			.inputs{
				margin-right: 0px ; 
			}
		}
		.botao{	
	    	margin-top: 130px;
		}
	}
	footer{
		width:100%;
		flex-direction:column;
		article{
			width:100%;	
			display:block;
			margin-left:0px;
			h4{
				width:100%;
			}
		}
		aside{
			width:100%;
			float:none;
			display:block;
		}
	}

}

@media screen and (max-width:768px){
	.banner-titulo{
     	margin: 0% !important;
	}
	.planos{
	    padding-left: 40px;
    	padding-right: 40px;
	}
	.planos-box{
		flex-direction:column;
		width:100%;
	}
	.plano{
		margin-right:0px !important;
		margin-bottom: 25px;
	}
	.localidades{
	    display:inline-block;
	}
	.numero{
		display:block;
		margin-right:0px;
		float:none;
	}
}
@media screen and (max-width:960px){
	.planos{
	    padding-left: 40px;
    	padding-right: 40px;
	}
	.planos-box{
		flex-direction:column;
		width:100%;
	}
	.plano{
		margin-right:0px !important;
		margin-bottom: 25px;
	}
}
@media screen and (max-width:375px){
	.s2{
		align-items: center;
		form{
			align-items: center;
			.inputs{
				margin-right:0;
			}
		}
	}
}
@media screen and (max-width:320px){
	
	header{
		nav{
			padding-left:0px !important;
		}
	}

	.area{
		padding-left:0px !important;
	}
	.localidades{
	    flex-direction: column;
	    display: flex;
	}
	.nav-logo{
		margin-right: 0 !important;
	}
}
@media screen and (max-width:425px){
	header {
		 nav{
		    justify-content: space-around;
		 }
	}
	.s2{
		form{
			align-items: center;
			.inputs{
				margin-right:0;
			}
		}
	}
	.localidades{
	    align-items: center !important;
	    flex-direction: column;
	    display: flex;
	    li{
	    	border: 0 !important;
	    }
	}
}