@mixin lato(){
	font-family: lato;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
}
.ma1{
		h2{
			@include lato();
			font-size: 40px;
			text-align: center;
  			color: #ff840c;
  			margin:0;
  			padding-bottom:23px;
  			padding-top:59px;
  			
		}
	article{
	height:56px;
	padding-top: 25px;
    padding-bottom: 25px;
	width:100%;
  	background-color: #017b7b;
	  	ul{
	  		list-style:none;
	  		text-align:center;
		  	li{
			    padding:0px 25px 0px 25px;
			    border-right: 1px solid #fff;
		  		align-items: center;
	  			flex-direction:row;
	  			justify-content:center;
		  		display:inline-block;
		  		@include lato();
		  		font-size: 20px;
	  			font-weight: normal;
	  			color: #ffffff;
	  			text-align: center;
	  			margin:0;
	  			&:last-child{
	  				border:0px;
	  			}
		  	}
		}
	}
}


.s1{
	width:100%;
	background-color:#e9e7e5;
	padding: 57px 45px 53px 45px;
	a{		
			@include lato();
			text-decoration:none;
			font-size:40px;
			color: #ff840c;
			text-align:center;
			margin:0px 0px 96px 0px;
			margin-left: 45%;

	}
	ul{
		margin-left: 15%;
    	list-style: none;
		li{
			width: 217px;
  			height: 392px;
  			border-radius: 15px;
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
			display:inline-block;
			

		}
		h3{
			@include lato();
			font-size: 25px;
	  		font-weight: bold;
	  		text-align: center;
	  		color: #ffffff;
	  		background-color: #ff840c;
	  		width: 217px;
  			height: 140px;
	  		border-radius: 14px;
	  		display:inline-block;
	  		margin:0px 0px 0px 0px;
	  		padding-top:100px;

		}
	}

}
.s2{
	width:100%;
 	background-color:#f5831f;		
			h2{
			    padding-bottom: 39px;
    			margin: 0px;
				padding-top:64px;
				@include lato();
				font-size: 40px;
				text-align: center;
		  		color: #ffffff;
		  	}
	form{
    height: 115px;
    width: 620px;
    display:flex;
    margin: 0 auto;
    padding-bottom: 70px;
		input{
			display:flex;
			color:#262626;
			font-size: 20px;
			padding-left: 20px;
			margin-bottom:19px;
			width: 280px;
			height: 48px;
		  	border-radius: 10px;
		  	background-color: #ffffff;
		  	margin-right:20px;
		}
		textarea {
			    margin: 0px;
			    width: 260px;
			    height: 70px;
			    border-radius: 10px;
			    background-color: #ffffff;
			    padding: 20px;
			}
	}

	.botao{
		@include lato();
		font-size: 20px;
		text-align: center;
  		color: #ffffff;
	    margin-left: 45%;
		width: 140px;
  		height: 50px;
  		border-radius: 100px;
 		background-color: #262626;
 		border:1px solid #262626;
 		margin-bottom:74px;
	}
}
