.s1 {
  background-color: #e9e7e5;
  padding: 57px 45px 53px 45px;
}

.s1 a {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-decoration: none;
  font-size: 40px;
  color: #ff840c;
  text-align: center;
  margin: 0px 0px 96px 0px;
  margin-left: 45%;
}

.s1 ul {
  margin-left: 15%;
  list-style: none;
}

.s1 ul li {
  width: 217px;
  height: 392px;
  border-radius: 15px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
}

.s1 ul h3 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #ff840c;
  width: 217px;
  height: 140px;
  border-radius: 14px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding-top: 100px;
}

.li1 {
  background-color: #fff;
  margin: 0px 22px 0px 0px;
}

.li1 h4 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 16px;
  text-align: center;
  color: #037c7c;
  margin: 0;
  padding: 28px 0px 19px 0px;
}

.li1 header {
  margin-left: -10px;
  padding-top: 25px;
}

.li1 header div {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #037c7c;
  display: block;
  padding-left: 51.5px;
}

.li1 header span {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  margin-bottom: -30px;
  margin-top: -40px;
  margin-left: 75px;
  font-size: 90px;
  font-weight: bold;
  color: #037c7c;
  display: inline-block;
}

.li1 header h6 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding-left: 35px;
  font-size: 30px;
  text-align: center;
  color: #4a4a4a;
  margin: 0px;
}

.li1 p {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #4a4a4a;
  text-align: center;
  font-size: 16px;
}

.li1 h5 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #037c7c;
  margin: 0px;
}

.li2 {
  background-color: #037c7c;
}

.li2 h4 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 28px 0px 19px 0px;
}

.li2 header {
  margin-left: -10px;
  padding-top: 25px;
}

.li2 header div {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  padding-left: 51.5px;
}

.li2 header span {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  margin-bottom: -30px;
  margin-top: -40px;
  margin-left: 75px;
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
}

.li2 header h6 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding-left: 35px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin: 0px;
}

.li2 p {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.li2 h5 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}

.li3 {
  background-color: #fff;
  margin: 0px 22px 0px 0px;
}

.li3 h4 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 16px;
  text-align: center;
  color: #037c7c;
  margin: 0;
  padding: 28px 0px 19px 0px;
}

.li3 header {
  margin-left: -10px;
  padding-top: 25px;
}

.li3 header div {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #037c7c;
  display: block;
  padding-left: 51.5px;
}

.li3 header span {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  margin-bottom: -30px;
  margin-top: -40px;
  margin-left: 75px;
  font-size: 90px;
  font-weight: bold;
  color: #037c7c;
  display: inline-block;
}

.li3 header h6 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding-left: 35px;
  font-size: 30px;
  text-align: center;
  color: #4a4a4a;
  margin: 0px;
}

.li3 p {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #4a4a4a;
  text-align: center;
  font-size: 16px;
}

.li3 h5 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #037c7c;
  margin: 0px;
}

.li4 {
  background-color: #fff;
  margin: 0px 22px 0px 0px;
}

.li4 h4 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 16px;
  text-align: center;
  color: #037c7c;
  margin: 0;
  padding: 28px 0px 19px 0px;
}

.li4 header {
  margin-left: -10px;
  padding-top: 25px;
}

.li4 header div {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #037c7c;
  display: block;
  padding-left: 51.5px;
}

.li4 header span {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  margin-bottom: -30px;
  margin-top: -40px;
  margin-left: 75px;
  font-size: 90px;
  font-weight: bold;
  color: #037c7c;
  display: inline-block;
}

.li4 header h6 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding-left: 35px;
  font-size: 30px;
  text-align: center;
  color: #4a4a4a;
  margin: 0px;
}

.li4 p {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #4a4a4a;
  text-align: center;
  font-size: 16px;
}

.li4 h5 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #037c7c;
  margin: 0px;
}

.s2 {
  background-color: #f5831f;
}

.s2 h2 {
  padding-bottom: 39px;
  margin: 0px;
  padding-top: 64px;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.s2 form {
  height: 115px;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 70px;
}

.s2 form div {
  margin-left: 67px;
  width: 300px;
  display: inline-block;
}

.s2 button {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-left: 45%;
  width: 140px;
  height: 50px;
  border-radius: 100px;
  background-color: #262626;
  border: 1px solid #262626;
  margin-bottom: 74px;
}

.in1 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #262626;
  font-size: 20px;
  margin-bottom: 19px;
  width: 300px;
  height: 48px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 20px;
}

.in2 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #262626;
  font-size: 20px;
  width: 300px;
  height: 48px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 20px;
}

.in3 {
  float: right;
  margin-right: 90px;
  margin-top: 0px;
  display: inline-block;
  display: inline-block;
  width: 300px;
  height: 115px;
  border-radius: 10px;
  background-color: #ffffff;
}

header {
  padding-top: 65px;
}

header nav {
  height: 65px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header nav ul {
  padding: 0px;
  margin: 7px 0 0 0;
  list-style: none;
  float: right;
  display: inline-block;
}

header nav ul li {
  padding-top: 17px;
  padding-left: 23px;
  padding-right: 23px;
  display: inline-block;
  width: 100px;
  height: 32px;
  text-align: center;
  display: inline-block;
}

header nav ul li a {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-decoration: none;
  color: #4a4a4a;
  text-align: left;
}

header nav ul li:hover {
  border-radius: 71px;
  background-color: #ff840c;
}

header nav ul li:hover a {
  color: #FFF;
}

header main {
  height: 360px;
  background-color: #037c7c;
  padding-top: 113px;
}

header main article {
  margin-top: -505px;
}

header main article h2 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  display: inline-block;
  color: #ffffff;
  margin-left: 202px;
  margin-right: 202px;
  text-align: center;
  font-size: 40px;
  padding-top: 113px;
  position: relative;
}

header main article h1 {
  margin: 0px;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  position: relative;
  font-size: 39px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

header main article h1 button {
  margin-top: 15px;
  width: 276px;
  height: 92px;
  border-radius: 100px;
  background-color: #ff840c;
  border: 1px solid #ff840c;
}

header main article h1 button a {
  font-size: 25px;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-decoration: none;
  color: #ffffff;
}

header main article h1 button a p {
  margin: 0px;
  font-size: 39px;
  color: #ffffff;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  display: inline-block;
}

header main img {
  height: 360px;
  display: inline-block;
  opacity: 0.5;
  width: 100%;
}

.nav-logo {
  margin-left: 42px;
  margin-top: 20px;
}

.nav-face {
  padding-top: 0px;
  margin-left: 41.3px;
  margin-right: 42px;
}

.nav-face img {
  margin-bottom: -10px;
}

footer {
  padding-top: 15px;
  background-color: #262626;
}

footer article {
  width: 400px;
  margin-left: 42px;
  display: inline-block;
}

footer article h4 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 16px;
  padding-bottom: 14px;
  margin: 0px;
  border-bottom: solid 3px #979797;
  color: #ffffff;
}

footer article h5 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding: 11px 0 25px 0;
  margin: 0px;
  font-size: 16px;
  color: #ffffff;
}

footer aside {
  width: 279px;
  display: inline-block;
  float: right;
  margin-right: 116px;
}

footer aside h3 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 20px;
  color: #ffffff;
  margin: 0px;
  font-size: 20px;
}

footer aside h6 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding-bottom: 8px;
  display: inline-block;
  margin: 0px;
  font-size: 19px;
  color: #ffffff;
}

footer aside img {
  display: inline-block;
  width: 14px;
  height: 16px;
}

.ma1 a h2 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 40px;
  text-align: center;
  color: #ff840c;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 59px;
}

.ma1 article {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-color: #017b7b;
}

.ma1 article p {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

body {
  font-family: Lato;
}

.banner {
  height: 500px;
  background: url("../image/bitmap.png") left bottom #037c7c repeat-x;
}

/*Regra dos planos*/
.planos-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 960px;
  margin: 0 auto;
}

.planos-box .plano-recomendado-write {
  background-color: #037c7c;
  border-radius: 15px;
}

.planos-box .plano {
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
  margin-right: 22px;
  height: 350px;
  text-align: center;
}

.planos-box .plano:last-child {
  margin-right: 0;
}

.planos-box .plano h4 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  color: #037c7c;
  margin: 0px;
  text-transform: uppercase;
}

.planos-box .plano .valor {
  height: 108px;
  overflow: hidden;
  position: relative;
}

.planos-box .plano .valor span {
  display: inline-block;
  font-weight: bold;
  color: #037c7c;
}

.planos-box .plano .valor span:first-child {
  font-size: 20px;
  position: absolute;
  top: 20px;
}

.planos-box .plano .valor span:last-child {
  margin-left: 25px;
  font-size: 90px;
}

.planos-box .plano .tipo-plano {
  font-size: 30px;
  font-weight: 300;
  color: #4a4a4a;
  margin: 0;
  line-height: 0px;
  margin-left: 30px;
}

.planos-box .plano.plano-recomendado {
  background-color: #ff840c;
  border-radius: 15px;
  height: 400px;
}

.planos-box .plano.plano-recomendado h4 {
  color: #FFF;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
