.ma1 h2 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 40px;
  text-align: center;
  color: #ff840c;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 59px;
}

.ma1 article {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background-color: #017b7b;
}

.ma1 article ul {
  list-style: none;
  text-align: center;
}

.ma1 article ul li {
  padding: 0px 25px 0px 25px;
  border-right: 1px solid #fff;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: inline-block;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.ma1 article ul li:last-child {
  border: 0px;
}

.s1 {
  width: 100%;
  background-color: #e9e7e5;
  padding: 57px 45px 53px 45px;
}

.s1 a {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-decoration: none;
  font-size: 40px;
  color: #ff840c;
  text-align: center;
  margin: 0px 0px 96px 0px;
  margin-left: 45%;
}

.s1 ul {
  margin-left: 15%;
  list-style: none;
}

.s1 ul li {
  width: 217px;
  height: 392px;
  border-radius: 15px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
}

.s1 ul h3 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #ff840c;
  width: 217px;
  height: 140px;
  border-radius: 14px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding-top: 100px;
}

.s2 {
  width: 100%;
  background-color: #f5831f;
}

.s2 h2 {
  padding-bottom: 39px;
  margin: 0px;
  padding-top: 64px;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.s2 form {
  height: 115px;
  width: 620px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 70px;
}

.s2 form input {
  display: flex;
  color: #262626;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 19px;
  width: 280px;
  height: 48px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 20px;
}

.s2 form textarea {
  margin: 0px;
  width: 260px;
  height: 70px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
}

.s2 .botao {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-left: 45%;
  width: 140px;
  height: 50px;
  border-radius: 100px;
  background-color: #262626;
  border: 1px solid #262626;
  margin-bottom: 74px;
}

header {
  padding-top: 65px;
}

header nav {
  z-index: 1000;
  height: 65px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header nav ul {
  padding: 0px;
  margin: 7px 0 0 0;
  list-style: none;
  float: right;
  display: inline-block;
}

header nav ul li {
  text-align: center;
  display: inline-block;
}

header nav ul li a {
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  height: 32px;
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  text-decoration: none;
  color: #4a4a4a;
  text-align: left;
}

header nav ul li:hover {
  border-radius: 71px;
  background-color: #ff840c;
}

header nav ul li:hover a {
  color: #FFF;
}

.nav-logo {
  margin-left: 42px;
  margin-top: 20px;
}

.nav-face {
  padding-top: 0px;
  margin-left: 41.3px;
  margin-right: 42px;
}

.nav-face img {
  margin-bottom: -10px;
}

footer {
  padding-top: 15px;
  background-color: #262626;
}

footer article {
  width: 400px;
  margin-left: 42px;
  display: inline-block;
}

footer article h4 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-size: 16px;
  padding-bottom: 14px;
  margin: 0px;
  border-bottom: solid 3px #979797;
  color: #ffffff;
}

footer article h5 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding: 11px 0 25px 0;
  margin: 0px;
  font-size: 16px;
  color: #ffffff;
}

footer aside {
  width: 279px;
  display: inline-block;
  float: right;
  margin-right: 116px;
}

footer aside h3 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 20px;
  color: #ffffff;
  margin: 0px;
  font-size: 20px;
}

footer aside h6 {
  font-family: lato;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  padding-bottom: 8px;
  display: inline-block;
  margin: 0px;
  font-size: 19px;
  color: #ffffff;
}

footer aside img {
  display: inline-block;
  width: 14px;
  height: 16px;
}

.banner {
  width: 100%;
  height: 500px;
  background: url("../image/bitmap.png") left bottom #037c7c repeat-x;
}

.banner article {
  padding-top: 100px;
}

.banner article .banner-titulo {
  font-size: 40px;
  margin: 0% 25% 30px 25%;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.banner article .banner-subtitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 39px;
  font-weight: bold;
}

.banner article .banner-link {
  margin-top: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  height: 92px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #ff840c;
  font-weight: 300;
}

.banner article .banner-link p {
  font-size: 50px;
  font-weight: 300;
}

.banner article .banner-link .centavos {
  font-size: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 300;
}

.banner article .banner-link .diario {
  font-size: 20px;
  font-weight: 300;
  margin-left: -30px;
  margin-top: 10px;
}

#planos-titulo {
  font-size: 40px;
  font-weight: 300;
  color: #ff840c;
  text-align: center;
  margin: 0px;
  padding-top: 57px;
  padding-bottom: 43px;
}

.planos {
  padding-bottom: 53px;
  background-color: #e9e7e5;
}

.planos-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 960px;
  margin: 0 auto;
}

.planos-box .plano-recomendado-write {
  background-color: #037c7c;
  border-radius: 15px;
}

.planos-box .plano {
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);
  margin-right: 22px;
  height: 392px;
  text-align: center;
}

.planos-box .plano:last-child {
  margin-right: 0;
}

.planos-box .plano h4 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  color: #037c7c;
  margin: 0px;
  padding-top: 28px;
  text-transform: uppercase;
}

.planos-box .plano .valor {
  height: 108px;
  overflow: hidden;
  position: relative;
}

.planos-box .plano .valor span {
  display: inline-block;
  font-weight: bold;
  color: #037c7c;
}

.planos-box .plano .valor span:first-child {
  font-size: 20px;
  position: absolute;
  top: 20px;
}

.planos-box .plano .valor span:last-child {
  margin-left: 25px;
  font-size: 90px;
}

.planos-box .plano .tipo-plano {
  font-size: 30px;
  font-weight: 300;
  color: #4a4a4a;
  margin: 0;
  line-height: 0px;
  margin-left: 30px;
}

.planos-box .plano .velocidade-texto {
  padding-top: 15px;
}

.planos-box .plano .velocidade {
  font-size: 50px;
  font-weight: bold;
  color: #037c7c;
  margin: -20px 0px 0px 0px;
  padding: 0px 0px 3px 0px;
}

.planos-box .plano .plano-detalhe {
  margin: -3px 0px 0px 0px;
  padding: 0px 0px 57px 0px;
  list-style: none;
}

.planos-box .plano .plano-detalhe li {
  font-size: 16px;
  font-weight: 300;
  color: #4a4a4a;
}

.planos-box .plano.plano-recomendado {
  background-color: #ff840c;
  border-radius: 15px;
  height: 440px;
  color: #ffffff;
}

.planos-box .plano.plano-recomendado h4 {
  color: #FFF;
}

.planos-box .plano.plano-recomendado span {
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
}

.planos-box .plano.plano-recomendado span:first-child {
  font-size: 20px;
  position: absolute;
  top: 20px;
}

.planos-box .plano.plano-recomendado span:last-child {
  margin-left: 25px;
  font-size: 90px;
}

.planos-box .plano.plano-recomendado .tipo-plano {
  color: #FFF;
}

.planos-box .plano.plano-recomendado .velocidade {
  color: #fff;
}

.planos-box .plano.plano-recomendado .plano-detalhe {
  list-style: none;
}

.planos-box .plano.plano-recomendado .plano-detalhe li {
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
}

@media (max-width: 360px) {
  .banner {
    height: auto;
  }
  .planos-box {
    width: 100%;
    flex-direction: column;
  }
  .plano {
    margin-bottom: 20px;
  }
  .s2 form {
    align-items: center;
    flex-direction: column;
  }
  .s2 form .input {
    display: block;
  }
  .botao {
    margin-left: 35%;
    margin-top: 130px;
  }
  footer {
    width: 100%;
    flex-direction: colunm;
  }
  footer article {
    display: block;
    margin-left: 0px;
  }
  footer aside {
    float: none;
    display: block;
  }
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: lato;
}

input, textarea {
  border: 0;
}
